.image {
    width: 40%;
    object-fit: fill;
    float: right;
    padding: 10px;
    padding:70px 120px 0px 0px;
    margin-bottom: 5em;

}
.content {
    width: 85%;
}
.question {
    margin-bottom: .4em;
    font-family: 'Archivo Black', sans-serif;
    /* color: red; */
}
.answer {
    margin-left: 2px;
    margin-bottom: 15px;
    font-family: 'Tenor Sans', sans-serif;
}
.posts{
    border-collapse: collapse;
    width: 95%;
    font-size: 1vw;
    font-family: 'Muli', sans-serif;
    padding: 10px;
}

.posts tr{
    /* border-top: 1px solid #C1C3D1; */
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.posts td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.posts tr:hover td {
  /* background:#c5beba; */ 
  background:#EAD8AC;
  border-top: 1px solid #22262e;
}

.posts th {
  color:#D5DDE5;;
  background:#2c7873;
  border-bottom:4px solid #9ea7af;
  font-size:23px;
  font-weight: 100;
  padding:12px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  padding: 7px 120px 0px 0px;

}
