.container {
    bottom: 0;
    /* left: 30; */
    height: 300px;
    /* margin: auto; */
    position: relative;
    /* right: 20; */
    text-align: left;
    top: 10;
    width:40%;
    max-width:50%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 0.01em 10px; */
    padding-bottom: 100px
}

.image {
    max-width: 80%;
    width: 50%;
    float: right;
    padding: 0px 60px;
    margin-top:25px;
    margin-bottom:10px;
    /* border: 1px solid #ccc; */
    /* box-shadow: 2px 2px 15px 0px  rgba(0,0,0,0.3); */
    /* max-width: 100%; */
    }
}


fieldset {
    max-width:95%;
    float: left;
    /* padding-left: 10px; */
    margin-bottom: 2vw;
    border-color: #2c7873; /* rain */
    border-style: solid;
    border-radius:8px;

}

legend {
    color: #2c7873;
    font-family: 'Muli', sans-serif;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 0.4em 1em;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.output {
    font-family: 'Muli', sans-serif;
}

input {
    width: 30%;
    font-size: 1.3vw;
    font-family: 'Muli', sans-serif;
    padding: 14px;
    margin: 5px 0 8px 0;
    display: inline-block;
    border: 1px;
    background: #e4e3db;
    border-radius: 7px 7px 7px 7px;
    /* background: #f1f1f1; */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number],
input[type=text]{
/* input[data-type=currency] */
/* input[data-type=percentage]{ */
  text-align: right;
  font-family: 'Inconsolata', monospace;

}

.results {
  width: 26%;
  font-size: 1.3vw;
  font-family: 'Inconsolata', monospace;
  padding: 14px;
  margin: 5px 0 8px 0;
  display: inline-block;
  border: 1px;
  background: #6fb98f;
  /* border-radius: 7px 7px 7px 7px; */
  margin: 0;
  text-align: right;

}


label {
    font-family: 'Muli', sans-serif;
    font-size: 1.3vw;

    /* color: red; */
    display: inline-block;
    font-size: 1rem;
    width: 65%;
}

.wealthinfo {
    margin-bottom: 3px;
}

.wealthimage {
    float:left;
    margin-top: 2px;
    margin-right: 1vw;
    height: auto;
    max-width: 100%;
}
.acronym {
    margin-bottom: .4em;
    font-family: 'Muli', sans-serif;
    /* color: red; */
}
.definition {
    margin-left: 2px;
    font-style:italic;
    margin-bottom: 15px;
    font-family: 'Tenor Sans', sans-serif;

}
.calcbtn {
    background-color: #004445;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    opacity: 0.9;
    border-radius: 7px 7px 7px 7px;
}
.savebtn {
    background-color: #021c1e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    opacity: 0.9;
    border-radius: 7px 7px 7px 7px;
}

.calcbtn:hover {
    opacity: .7;
}

.savebtn:hover {
    opacity: .7;
}

.error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

  li.blist {
    font-size: 1vw;
    font-family: 'Muli', sans-serif;
    padding: 14px;
  }
  li.blist a:link,
  li.blist a:visited {
    color: black;
  }
  li.blist a:hover {
    color: #2c7873;
  }

  .bookgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 70px;
    padding-right: 120px;
    padding-left: 10px;
    align-items: stretch;
    }
  .bookgrid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }
  .bookgrid img:hover {
    transform: scale(1.1);
}
