th, p {
  font-family: sans-serif;
  color: black;
}

table, tbody, th, td {
  border: 1px solid black;
  padding:3px 0px;
  border: solid 1px #D1D8E1;
  border-collapse: collapse;
  padding: 5px 15px;
  font-size: 14px;
}
tr:nth-child(even) {
  background: #abd1a1;
}

span {
  font-size: 30px;
}

ol {
  list-style-type: upper-latin;
}
