fieldset {
    max-width:80%;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .3rem 0;
    width: 70%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 65%;
}

.message {
  margin-bottom: 15px;
}

.usrimage {
  float:left; margin-right: 10px;
}
.user {
  float:left;
  font-weight:bold;
  color:#007;
  margin-bottom: 5px;
}
.msg {
  margin-left: 30px;
  font-style:italic; color:#;
}
