.profile tr{
    /* border-top: 1px solid #C1C3D1; */
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:14px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    width: 90%;
}

.profile td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

/* .profile tr:hover td {
  background:#c5beba;
  border-top: 1px solid #22262e;
} */

.profile th {
  color:#2c7873;
  /* background:#2c7873; */
  border-bottom:4px solid #9ea7af;
  font-size:23px;
  font-weight: 100;
  padding:4px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  /* padding: 7px 120px 0px 0px; */
}
.profileinfo{
  vertical-align: top;
  height: 200px;
  padding:14px;

}
