.error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

input {
    width: 35%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e4e3db;
    border-radius: 7px 7px 7px 7px;
}

/* input:invalid{

  /* background: linear-gradient(21deg, #10abff, #1beabd); */

  /* background-color: #ffffaf; */
  /* outline-style: outset; */
  /* border: 2px;
  border-left:#C46C54;
  border-bottom: #C46C54;
  border-radius: 7px 7px 7px 7px; */

/* } */

label {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 1rem;
    width: 15%;
}


.loginbtn {
    background-color: #258278;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 7px 7px 7px 7px;
}

.loginbtn:hover {
    opacity: .8;
}
