/* colors to use:
#021c1e; //blue black
#004445; //cadet blue
#EAD8AC; //rain
#6fb98f; //greenery
#2c7873;*/

body {
  /* font-family: 'Muli', sans-serif; */
    background: white;
    /* color: #782c31; /*look here */ */
    margin-right: auto;
    margin-left:  auto;
    max-width: 1920px;
    min-width: 920px;
    width: 95%;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

h1{
  margin: 0 0 5 0;
  color: #258278;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 1vw;
  /* font-family: 'Archivo Black', sans-serif; */
  padding: 0px 0px 7px 0px;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Muli', sans-serif;
  /* font-family: 'Tenor Sans', sans-serif; */
  /* text-transform: uppercase; */

}

h2{
  margin: 0 0 0 0;
  color: #384241;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 1vw;
  padding: 0px 0px 0px 0px;

  /* font-family: 'Muli', serif; */
  font-family: 'Tenor Sans', sans-serif;

}

h3{
  color: black;
  font-weight: bold;
  font-size: 2vw;
}
h4{
  /* color: #512163; */
  font-size: 5vw;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Yatra One', cursive; */
  /* font-family: 'Questrial', sans-serif; */
  /* font-family: 'Acme', sans-serif; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: 'Fredericka the Great', cursive;
  color: #021c1e;
  text-transform: uppercase;

  /* font-family: 'Tenor Sans', sans-serif; */


}
.user{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 70px 100px 0px 0px;
  /* top left */
}

p.serif {
    font-family: 'Ovo', serif;
}

p.sansserif {
    font-family: 'Muli', sans-serif;
}

/* ul {
  overflow: auto;
  list-style-type: none;
} */
/*  Main nav bar */
nav {
  /* display: block;
  text-align: center; */
  line-height: 1vw;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
nav, .nav .active {
  color: #EAD8AC;
  border-bottom-color: #EAD8AC;
  margin-bottom: 1px;
}

.nav a {
  display:block;
  background: #2c7873;
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.8em;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
  border-radius: 8px 8px 8px 8px;
}
.nav{
  /* vertical-align: top; */
  display: inline-block;
  /* box-shadow:
    1px -1px -1px 1px #000,
    -1px 1px -1px 1px #fff,
    0 0 6px 3px #fff; */
  /* border-radius: 6px 24px 6px 24px; */
}
.nav li {
  position: relative;
}
.nav > li {
  float: left;
  border-bottom: 4px #aaa solid;
  border-radius: 6px 24px 6px 24px;
  margin-right: 1px;
  margin-left: 1px;

}
.nav > li > a {
  margin-bottom: 1px;
  box-shadow: inset 0 2em .33em -0.5em #17403d;
  border-radius: 6px 24px 6px 24px;
}
.nav > li:hover,
.nav > li:hover > a {
  border-bottom-color: #EAD8AC;
}
.nav li:hover > a {
  color:#EAD8AC;
}

/* This collapses the submenu */
.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
 }
 /* submenu layout*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 3px solid #EAD8AC;
  border-radius: 8px 8px 8px 8px;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.nav > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
}

img {
    height: auto;
    max-width: 100%;
}

.footer a:link,
.footer a:visited {
  color: white;
  text-decoration: none;

}
.footer a:hover {
  color: #2c7873;
}
/* sticky footer */
.footer {
  margin-top: 120px;
  font-family: 'Tenor Sans', sans-serif;
  text-decoration: none;
  width:100%;
  height:1.2vw;
  padding-top:5px;
  background-color: #c97a65;
  color:white;
  font-weight:normal;
  font-size:1vw;
  text-align:center;
  position:fixed;
  bottom:0;
  left:0;
}
