body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: white;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1920px;
    min-width: 920px;
    width: 90%;
}

.container {
    bottom: 0;
    left: 40;
    height: 300px;
    margin: auto;
    position: relative;
    right: 20;
    text-align: left;
    top: 10;
    width:40%;
    float: left;
    padding: 0.01em 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container img {
    max-width: 50%;
    float: right;
    padding:0.01em 16px;
    margin-top:10px;
    margin-bottom:10px;
}


fieldset {
    width:80%;
    float: left;
    padding-left: 20px;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    width: 45%;
}

input {
    margin: .5rem 0;
}

label {
    display: inline-block;
    font-size: .8rem;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}
